
:root {
    --f-size: 20px;
}

.mainDiv {
    background-color: rgb(65 225 252 / 50%);
    text-align: center;
    padding: 10px 20px;
    width: 50%;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.mainDiv form h1 {
    font-size: 30px;
}

label {
    display: block;
    font-size: var(--f-size);
    font-weight: bold;
}

input, select {
    width: 80%;
    text-align: center;
    font-size: var(--f-size);
    margin: 10px 0;
    outline: none;
    caret-color: darkturquoise;
    border: none;
    border-radius: 5px;
}

.div_std {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    padding: 10px 0;
}

.div_std label {
    flex: 3;
}

.div_std input {
    flex: 1;
    margin: 0;
    transform: scale(1.5);
}

.mainDiv form button {
    display: block;
    margin: 10px auto;
    font-size: var(--f-size);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    background: darkturquoise;
    color: #383030;
}

.disabled {
    background-color: gray !important;
    cursor: not-allowed !important;
}

.mainDiv form button:hover {
    background: #00ced191;
}

@media (max-width: 767px) {
    .mainDiv {
        width: 80%;
    }

    .mainDiv form h1 {
        font-size: 25px;
    }

    label, 
    input, 
    select,
    .mainDiv form button {
        font-size: 15px;
    }

    input {
        width: 90%;
    }

    .div_std input {
        transform: scale(1);
    }
}