
.pop {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.50);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop_content {
    background-color: white;
    width: 80%;
    border-radius: 10px ;
    font-size: 17px;
    padding: 10px 15px;
    
}

.pop_content h1 {
    color: green;
}

.pop_content .errorMsg {
    color: red;
}

@media (max-width: 767px) {
    .pop_content {
        font-size: 10px;
    }
}